:root {
    --perrimary-txt-cl: #757575;
    --title-txt-cl: #212121;
    --white-txt-cl: #ffffff;
    --accent-cl: #2196F3;
    --primary-bg-cl: #FFFFFF;
    --secondary-bg-cl: #F5F4FA;
    --accent-bg-cl: #2F303A;
    --icons-fill: rgba(175, 177, 184, 1);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}