.btn {
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus { 
        color: var(--white-txt-cl);
        background-color: var(--accent-cl);
        }
}
.btn-main {
    color: var(--white-txt-cl);
    background-color: var(--accent-cl);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    text-align: center;
    display: inline-block;
    min-width: 200px;
    height: 50px;
}

.btn-flex {
    display: flex;
    align-items: center;
    text-align: center;
    // margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.filter__btn {
    color: var(--title-txt-cl);
    background-color: var(--secondary-bg-cl);
    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    padding: 6px 22px;
    box-shadow: none;

    transition: 
    background-color 250ms var(--timing-function), 
    box-shadow 250ms var(--timing-function), 
    color 250ms var(--timing-function);

    @media screen and (max-width:767.98px) {
        }

}

.filter__btn:hover,
.filter__btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

