/* Hero */
.hero-section {
    
    
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-img.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(47, 48, 58, 0.4);
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
        color: var(--white-txt-cl);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}

