/* Portfolio */

/* Filter */
.filter__list {
    @media screen and (max-width: 767.98px) {
        justify-content: start;
        list-style-type: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    flex-wrap: wrap;
}

.filter__item {
    margin-right: 8px;
    @media screen and (min-width: 480px) {
        margin-bottom: 12px;
    }
}
    

.filter__item:last-child {
    margin-right: 0;
}

/* Activities */
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -30px 0 0 -30px;
}

.grid__item {
    margin: 30px 0 0 30px;
}

.activiti__link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
}

.activiti__link:hover,
.activiti__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.activiti__description {
    position: relative;
    overflow: hidden;
}

.activiti__text {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-txt-cl);
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.activiti__link:focus .activiti__text,
.activiti__link:hover .activiti__text {
    transform: translateY(0);
    opacity: 1;
}

.activiti__card {
    padding: 20px 24px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-top: none;
}

.activiti__name {
    color: var(--title-txt-cl);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.activiti__segment {
    font-size: 16px;
    line-height: 1.88;
}